<main class="business_user">
<header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo"><span class="w3-hide-small">I'm</span> Business Directory</h1>
    <p>TIE UP WITH US.</p>

  </header>

  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <h2 class="w3-text-light-grey">INSTRUCTION</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>
      <li>Some text about me. Some text about me</li>. <li>I am lorem ipsum consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip
        ex ea commodo consequat</li>. <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
        eu fugiat nulla pariatur</li>. <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum consectetur
        adipiscing elit,</li>
      <li>do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
    </p>
  </div>

  <!-- Icon Bar (Sidebar - hidden on small screens) -->
  <!-- Avatar image in top left corner -->
  <div class="container">
    <p>FILL THE INFORMATION TO TIE UP WITH US</p>
    <form #form="ngForm" method="post" enctype="multipart/form-data">
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" name="n1" id="name" [(ngModel)]="name" required></p>
      <p><input class="w3-input w3-padding-16" type="number" placeholder="Number" name="n2" id="phonenumber" max="10" [(ngModel)]="phonenumber" required></p>
      <p><select size="3" class="w3-input w3-padding-16" type="text" placeholder="Department" name="n3" id="department" [(ngModel)]="department" required>
          <option value="ELECTRICIAN">ELECTRICIAN</option>
          <option value="MECHANIC">MECHANIC</option>
          <option value="PLUMBER">PLUMBER</option>
          <option value="AUTO">AUTO</option>
          <option value="CAB">CAB</option>
          <option value="RESTURANT">RESTURANT</option>
          <option value="HOTEL">HOTEL</option>
        </select>
      </p>

      <p> <input class="w3-padding-16" type="text" placeholder="Address" name="n4" id="address" [(ngModel)]="address" required></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="0.00AM-0.00PM" name="n5" id="time" [(ngModel)]="time"></p>
      <p><input type="file" name="n6" id="photo" class="w3-input w3-padding-16" (change)="handleFileInput($event)"required></p>
      <p>


        <button type="Submit" name="Save" (click)="onSubmit()" class="w3-button w3-light-grey w3-padding-large">
          <i class="fa fa-paper-plane"></i> SUBMIT
        </button>
      </p>

      </form>
    
    <!-- End Contact Section -->
  </div>

  <!-- Footer -->
  <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <p class="w3-medium">Powered by <a href="#" target="_blank"
        class="w3-hover-text-green">christopherarulraj4</a></p>
    <!-- End footer -->
  </footer>
<button (click)="goback()">
back
    </button>
</main>
  <!-- <router-outlet></router-outlet> -->
  <!-- END PAGE CONTENT -->
  

