<!-- <header>
  <a href="" class="logo">
    <img src="assets/logo.png" >
    <h2 class="nombre-expresa">
      Company name
    </h2>

  </a>
  <nav>
    <a href="" class="nva-link">Start</a>
    <a href="" class="nva-link">About Us</a>
    <a href="" class="nva-link">Contact</a>
  </nav>
</header> -->

  <!-- <div class="container" style="width:100%;height:40%;border: 5px solid red;;">
    </div> -->
    <!-- <div class="image-container">
      <div class="image-wrapper">
        <div>
          <img src="assets/taxi.jpg">
        </div>
        <div>
          <img src="assets/electrician.jpg">
        </div>
        <div>
          <img src="assets/plumbing.jpg">
        </div>
        <div>
          <img src="assets/restrant.jpg">
        </div>
        <div>
          <img src="assets/mechanic.jpg">
        </div>
        <div>
          <img src="assets/auto.jpg">
        </div>
      </div>
    </div> -->
<!-- <div style="display: flex;align-items: center;justify-content: center;height:100vh;padding:20px">
<app-image-slider [slides]="slides"></app-image-slider>
</div> -->
<app-side-navbar>
</app-side-navbar>
<router-outlet></router-outlet>
<!-- <app-mainpage></app-mainpage> -->
